@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}
  
body, html {
    margin: 0;
    padding: 0; 

}

body {
    width: 100vw; 
    max-width: 100vw;
    height: 100vh; 
    font-family: 'Amaranth', sans-serif;
}

#application {
    opacity: 0;
    width: 100%;
    height: 100%; 
    padding: 1rem 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    text-align: center;
}

#application.loaded {
    opacity: 1; 
}

#grid {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-gap: 1px;
    background-color: black;
    font-size: 64px;
}

#grid div {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

img {
    max-width: 100%;
}
