body {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    line-height: 2rem;
    font-weight: 100;
    
}

ul,
ol {
 padding-left: 5rem;
}

.italic {
    font-style: italic;
    font-size: 17px;
    margin-top: 30pt;
    margin-bottom: 30pt;
}

#tudou{
    background-color: rgb(0, 0, 0);
    padding: .4in;
    
}

img{
    height: 360px;
    width: 700px;
    border: 3px solid rgb(0, 0, 0);
    margin: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    }
    
    h1 {
      font-size:3rem;
      margin-bottom:1.5rem;
      margin-top: 0.5rem;
      font-weight: 700;
      color: azure;
      text-align: center;
    }
    
    h2 {
      font-size:1.2rem;
      font-weight: 400;
    }
    
    h3 {
      font-size:2rem;
      margin-bottom:1rem;
    }
    
    h4 {
      font-size:1.5rem;
      margin-bottom:1rem;
      font-weight: 5px;
    }
    
    h5 {
      font-size: 2.5;
      line-height: 2;
      margin-bottom:.5rem;
    }
    
    h6 {
      font-size:1rem;
      font-weight: 100;
    }
    
    p{
      font-family: 'Rubik', sans-serif;
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom:.5rem;
      color:var(--body-text-color);
      font-weight: 400;
    }
    