
body {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    line-height: .5rem;
    font-weight: 100;
    
}


ul,
ol {
 padding-left: 5rem;
}

.italic {
    font-style: italic;
    font-size: 17px;
    margin-top: 30pt;
    margin-bottom: 30pt;
}

#tudou{
    background-color: rgb(99, 99, 99);
    padding: .4in;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  
  h1 {
    font-size:3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  
  h2 {
    font-size:1.5rem;
    font-weight: 400;
    line-height: 4rem;
  }
  
  h3 {
    font-size:1rem;
    line-height: 1rem;
  }
  
  h4 {
    font-size:1.5rem;
    margin-bottom:1rem;
  }
  
  h5 {
    font-size: 2.5;
    line-height: 2;
    margin-bottom:.5rem;
  }
  
  h6 {
    font-size:1rem;
    font-weight: 100;
  }
  
  p{
    font-family: 'Anton', sans-serif;
    font-size: 1.3rem;
    line-height: 1rem;
    margin-bottom:.5rem;
    color:var(--body-text-color);
  }
  